/*body样式*/
/**
文字大小：12px/150%，文字字体：Arial,Verdana,"\5b8b\4f53"（宋体）
*/
body {
  font: 12px/150% Arial, Verdana, "\5b8b\4f53";
  color: #666;
  background: #F5F6FA !important;
  zoom: 0.75;
}

/*顶部区域*/
.wrap {
  width: 1008px;
  position: relative;
  margin: 0 auto;
}

#logo {
  position: relative;
  width: 300px;
  height: 60px;
  margin: 10px 0;
  float: left;
}

.q-link {
  position: relative;
  float: right;
  top: 50px;
  color: #999;
}

.q-link {
  font-size: 14px;
}

.q-link:hover {
  text-decoration: underline;
  color: red;
}

/*主内容样式*/
#content {
  display: flex;
  flex-direction: column;
  /*弹性布局用于布局*/
  position: relative;
  width: 100%;
  height: 690px;
  padding-top: 100px;
  /* background: #fff; */
  /* top: 38px; */
}

#content-dp {
  margin: 0 auto;
  width: 1008px;
  height: 38px;
  /* background: #fff; */
}

#content .login-w {
  margin-top: 0;
}

.login-w {
  height: 532px !important;
  width: 100%;
}

.login-w {
  position: relative;
  height: 475px;
  margin: 10px 0 20px;
  z-index: 5;
}

/* <!-- 登入区域 --> */
.login-w .login-banner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 475px;
}

.login-banner {
  height: 532px;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.ad-wrap {
  width: 1520px !important;
  height: 532px;
  position: absolute;
  display: block !important;
}

.wrap {
  width: 1008px !important;
}

.wrap {
  position: relative;
}

.wrap {
  width: 990px;
  margin: 0 auto;
}

.login-w .i-inner {
  position: relative;
  z-index: 3;
  height: 532px;
}

/* 表格边框区域 */
.from-border {
  width: 1008px;
  height: 476px;
  padding: 28px 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 0;
}

.new-wrap {
  flex-direction: row;
}

.new-wrap {
  padding-top: 54px;
  height: 476px;

}

.new-wrap {
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow: visible;
  border-radius: 12px;
}

.form-bottom {
  display: flex;
  height: 422px;
  width: 1008px;
  position: relative;
}




.form-border .login-form {
  top: 0;
}

.login-form {
  float: right;
  top: 10px;
}

.login-form-l,
.login-form-r {
  width: 504px;
}

.login-form-l {
  /* background: yellow; */
  border-radius: 12px;
}

.login-form .qrcode-login {
  width: 504px;
  height: 300px;
  padding: 0;
}

.login-form .qrcode-login {
  /* width: 300px; */
  padding: 20px 18px 20px 20px;
  text-align: center;
}

/*边框*/
.login-form-l::after {
  content: '';
  position: absolute;
  top: 88px;
  bottom: 88px;
  float: left;
  left: 504px;
  width: 1px;
  background: #BFBFBF;
}

.login-form.login-form-l::after {
  opacity: .3;
}

.qrcode-login {
  margin-top: 22px;
}

/*轮播图*/
.mc {
  overflow: visible;
  zoom: 1;
  position: relative;
}

.qrcode-text {
  margin-top: 0;
  font-family: PingFang SC;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: #1A1A1A;
  margin-bottom: 16px;
}

.qrcode-warp {
  margin-top: 27px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  width: 400px;
  height: 241px;
}

/*按钮*/
.banner-btn {
  height: 6px;
  width: 160px;
  position: absolute;
  bottom: 8px;
  left: 160px;
  /* margin-left: auto; */
}

.banner-btn li {
  float: left;
  height: 5px;
  width: 25px;
  opacity: 0.7;
  background: pink;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}

.banner-btn .banner-active {
  float: left;
  height: 5px;
  width: 25px;
  opacity: 1;
  background: pink;
  border-radius: 3px;
  margin-left: 10px;
}

/*表单信息*/
.login-form-wrap {
  width: 504px;
  height: 328px;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-body {
  width: 368px;
  height: 224px;
  padding: 12px 16px;
  background: #fff;
  margin-bottom: 40px;
}

.box {
  width: 100%;
  padding: 0;
  min-height: 204px;
  margin-bottom: 16px;
}

/*登入文字*/
.login_text {
  width: 368px;
  height: 16px;
  justify-items: center;
  justify-content: center;
  margin-top: 24px;
  font-family: PingFang SC;
  font-size: 20px;
  font-weight: 600;
  line-height: 16px;
  color: #1A1A1A;
}

/*用户和密码*/
.login-form .box .mc {
  overflow: visible;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
}

.login {
  width: 368px;
  height: 176px;
  position: relative;
  margin-top: 32px;
}

/*用户、邮箱、密码框*/
.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  background: var(---BackgroundGray-2, #F7F8FC);
}

.clears {
  display: none;
  position: relative;
  bottom: 28px;
  right: 4px;
  float: right;
}

/*登入按钮*/
.login-submit-btn {
  width: 367.987px;
  height: 43.987px;
  /* margin-top: 36px; */
  border-radius: 12px;
  position: relative;
}

.login-btn-active,
.login-btn-active a {
  background: #FA2C19;
  cursor: pointer;
}

.login-btn,
.login-btn a {
  background: #FD9D94;
  cursor: not-allowed;
}

.login-btn a,
.login-btn-active a {
  position: absolute;
  height: 44px;
  background: none !important;
  border: none !important;
  font-family: PingFang SC !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #FFF;
  margin-top: 12px;
  margin-left: -12px;
}

.coagent {
  /* margin-top: 30px; */
  margin-left: 15px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 50px;
  height: 50px;
}

.coagent a {
  color: #595959;
  font-family: PingFang SC;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0;
}

.coagent a:hover {
  text-decoration: underline;
  color: red;
}

.teaching {
  width: 1008px;
  height: 18px;
  margin: 30px auto 0 auto;
  font-size: 12px;
  text-align: center;
  color: #666;
}

#year {
  font-size: 11px;
}

/*输入框聚焦样式*/
input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-clip: padding-box;
  position: relative;
}

input:focus {
  border-color: transparent;
  outline: none;
  animation: borderGlow 1.5s infinite alternate;
}

@keyframes borderGlow {
  0% {
    box-shadow: 0 0 0 2px rgba(100, 200, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 2px rgba(255, 100, 200, 0.5);
  }
}

/*弹窗*/
.top {
  width: 234px;
  height: 39.5px;
  position: fixed;
  display: flex;
  z-index: 2025;
  text-align: center;
  top: -90px;
  /*30px 为导航栏高度*/
  left: 45%;
  /* 平滑效果 */
  transition: all 0.5s ease;
}

.top {
  transition: top 0.3s ease;
}

.top.show {
  top: 30px;
}

.top.hide {
  top: -90px;
}

.color {
  background-color: #fff;
  box-shadow: 0 12px 36px 0 rgba(49, 49, 77, 0.12);
  border: 1px solid #d8eafc;
  border-radius: 4px;
}

.img-elment {
  width: 16px;
  height: 16px;
  margin: 12px;
}

.txt-elment {
  margin: auto -4px;
  font-size: 14px;
  color: #39bf3e;
  line-height: 1;
}

/*验证码*/

#main_img[data-v-510fcc03] {
  display: block;
  width: 100%;
  position: relative
}

#main_img[data-v-510fcc03],
#slot_img[data-v-510fcc03] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none
}

#slot_img[data-v-510fcc03] {
  height: 100%;
  padding-top: 0;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0
}

.local_footer[data-v-510fcc03] {
  text-align: center;
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  color: #999;
  margin-bottom: 5px;
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 8px
}

.local_footer .slide_path[data-v-510fcc03] {
  height: 100%;
  width: 0;
  background-color: hsla(0, 0%, 86.3%, .5);
  border: none;
  border-right: 0 solid #94d4b5;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 0
}

.local_footer .sp-msg[data-v-510fcc03] {
  z-index: 2;
  position: relative
}

.local_footer .slideTip[data-v-510fcc03] {
  padding-left: 48px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f3f3f5;
  background-size: 100% 100%;
  border-radius: 8px;
  font-size: 14px;
  z-index: 20
}

.local_footer .checkingTip[data-v-510fcc03] {
  background-color: rgba(194, 196, 204, .2);
  font-size: 14px;
  border-radius: 8px
}

.local_footer img[data-v-510fcc03] {
  height: 48px;
  width: 48px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 1
}

.local_footer img.err-tip[data-v-510fcc03] {
  -webkit-animation: shake-510fcc03 .3s ease-in-out infinite;
  animation: shake-510fcc03 .3s ease-in-out infinite
}

.local_footer img.move-img[data-v-510fcc03] {
  cursor: pointer;
  border-radius: 8px;
  opacity: 1
}

@-webkit-keyframes shake-510fcc03 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  25% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg)
  }

  75% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg)
  }

  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
}

@keyframes shake-510fcc03 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  25% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg)
  }

  75% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg)
  }

  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
}

.local_footer .slideTip[data-v-510fcc03]:after {
  content: "";
  position: absolute;
  left: 20px;
  right: calc(100% - 70px);
  bottom: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 95.7%, .1)), color-stop(0), to(hsla(0, 0%, 86.3%, .3)));
  background: linear-gradient(90deg, hsla(0, 0%, 95.7%, .1), 0, hsla(0, 0%, 86.3%, .3));
  border-radius: 8px;
  border-right: 1px solid #dcdcdc;
  -webkit-animation: loading-510fcc03 1.2s linear infinite;
  animation: loading-510fcc03 1.2s linear infinite
}

@-webkit-keyframes loading-510fcc03 {
  to {
    right: 0
  }
}

@keyframes loading-510fcc03 {
  to {
    right: 0
  }
}


.captcha_modal_pc {
  visibility: hidden;
  /*隐藏能见度*/
  position: fixed;
}

/*模糊层*/
.captcha_drop {
  opacity: 0;
  visibility: hidden;
  /*隐藏能见度*/
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.active {
  opacity: 1;
  visibility: visible;
  /*开启能见度*/
}

.captcha_modal_pc {
  background: #fff;
  border-radius: 16px;
  font-size: 16px !important;
  border-radius: 16px !important;
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  max-width: 450px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/* 主要宽度 */
.warp {
  width: 310px;
}

/*头*/
.captcha_header {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 15px 3.23% 5px;
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  text-align: left;
  position: relative;
  overflow: hidden;
  color: #1a1a1a;
}

.captcha_header .modal_title {
  font-size: 16px;
  font-weight: 500;
}

.captcha_header .opt {
  height: 23px;
  line-height: 23px;
}

.captcha_header .opt .jcap_refresh {
  margin-right: 2px;
  display: inline-block;
  height: 100%;
}

.captcha_header .opt img {
  margin-bottom: 8px;
  width: 14px;
  height: auto;
  cursor: pointer;
}

.optBtnText {
  margin-left: 4px;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  top: -2px;
}

/*主体*/
.captcha_body {
  min-height: 120px;
  height: 178px;
  border-radius: 12px;
  margin: 0 3.23%;
  position: relative;
  overflow: hidden;
}

#main_img,
#slot_img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
}

#main_img {
  display: block;
  width: 100%;
  position: relative;
}

#slot_img {
  height: 100%;
  padding-top: 0;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0px;
}

.img_loading,
.img_tips_wraper {
  border-radius: 8px;
  position: absolute;
  width: 100%;
}

.img_loading {
  text-align: center;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  color: #c1c1c1;
  font-size: 15px;
  z-index: 1200;
}

.img_tips_wraper .tip_text {
  color: #fff;
  font-size: 14px;
}

.img_tips_wraper {
  margin-top: 60px;
}

.img_tips {
  display: inline;
  width: 20px;
  height: 20px;

}

.img_loading_refreshTips {
  border-radius: 8px;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  color: #c1c1c1;
  font-size: 15px;
  z-index: 1400;
}

.img_loading_refreshTips .p {
  width: 20px;
  height: 20px;
  margin-top: 60px;
}

/* 脚 */
.captcha_footer {
  box-sizing: border-box;
  font-size: 16px;
  padding: 8px 3.23% 5px;
  position: relative;
  text-align: left;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.local_footer {
  text-align: center;
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  color: #999;
  margin-bottom: 5px;
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 8px;
}

.local_footer .slideTip {
  padding-left: 48px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f3f3f5;
  background-size: 100% 100%;
  border-radius: 8px;
  font-size: 14px;
  z-index: 20;
}

.checkingTip {
  display: none;
  padding-left: 48px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f3f3f5;
  background-size: 100% 100%;
  border-radius: 8px;
  font-size: 14px;
  z-index: 20;
}

.local_footer .slideTip::after {
  content: "";
  position: absolute;
  left: 20px;
  right: calc(100% - 70px);
  bottom: 0;
  top: 0;
  background: linear-gradient(90deg, hsla(0, 0%, 95.7%, .1), 0, hsla(0, 0%, 86.3%, .3));
  border-radius: 8px;
  border-right: 1px solid #dcdcdc;
  -webkit-animation: loading-510fcc03 1.2s linear infinite;
  animation: loading-510fcc03 1.2s linear infinite;
}

.local_footer .slide_path {
  height: 100%;
  width: 0;
  background-color: hsla(0, 0%, 86.3%, .5);
  border: none;
  border-right: 0 solid #94d4b5;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 0;
}

.local_footer .move-img {
  cursor: pointer;
  border-radius: 8px;
  opacity: 1;
}

.move-img-active {
  /* 添加动画属性 */
  animation: swing 1s ease-in-out infinite;
}

.move-img {
  transition: transform 0.3s ease;
}

.move-img:active {
  transform: scale(0.95);
  transition: transform 0.2s ease;
  /* 按住时的平滑 */
}


.local_footer img {
  height: 48px;
  width: 48px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 1;
}

/* 定义摇摆动画 */
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(8deg);
  }

  80% {
    transform: rotate(-4deg);
  }

  100% {
    transform: rotate(0deg);
  }
}